apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  labels:
    team: speilvendt
  name: bakrommet-demo
  namespace: speilvendt
spec:
  image: {{image}}
  port: 8080
  ingresses:
    - https://bakrommet-demo.ekstern.dev.nav.no
  replicas:
    min: 1
    max: 1
    disableAutoScaling: true
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  accessPolicy:
    outbound:
      rules:
        - application: logging
          namespace: nais-system
