name: Bygg og deploy Bakrommet

on:
  push:

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  build:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'dev-') || startsWith(github.ref_name, 'demo-')
    name: Bygg og test
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
      - name: Sett opp Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
      - name: Slett lokal logback fil i demo
        run: rm -f bakrommet-demo/src/main/resources/logback.xml
      - name: Sett opp Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Bygg med Gradle
        run: ./gradlew build -x test
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
      - name: Test
        run: ./gradlew test
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache build output
        uses: actions/cache@v4
        with:
          path: |
            bakrommet-bootstrap/build/
            bakrommet-demo/build/
          key: build-${{ runner.os }}-${{ github.sha }}

  docker-build:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'dev-')
    name: Bygg docker image
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
      - name: Restore build cache
        uses: actions/cache@v4
        with:
          path: |
            bakrommet-bootstrap/build/
            bakrommet-demo/build/
          key: build-${{ runner.os }}-${{ github.sha }}
      - name: Bygg docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: speilvendt
          cache_from: type=gha
          cache_to: type=gha,mode=min
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy-dev:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'dev-')
    name: Deploy til dev
    needs: [docker-build]
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
      - name: Deploy til NAIS
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: deploy/dev.yml
          IMAGE: ${{ needs.docker-build.outputs.image }}



  docker-build-demo:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'demo-')
    name: Bygg docker image
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
      - name: Restore build cache
        uses: actions/cache@v4
        with:
          path: |
            bakrommet-bootstrap/build/
            bakrommet-demo/build/
          key: build-${{ runner.os }}-${{ github.sha }}
      - name: Bygg docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: speilvendt
          dockerfile: Dockerfile.demo
          image_suffix: demo
          cache_from: type=gha
          cache_to: type=gha,mode=min
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy-demo:
    if: github.ref_name == 'main' || startsWith(github.ref_name, 'demo-')
    name: Deploy demo
    needs: [docker-build-demo]
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
      - name: Deploy til NAIS
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: deploy/demo.yml
          IMAGE: ${{ needs.docker-build-demo.outputs.image }}
